<div class="d-flex flex-column p-2 mt-4">
    <table class="table table-sm">
        <thead>
        <tr>
            {% for v in variables %}<th>{{ v }}</th>{% endfor %}
            <th class="res">{{ col_res }}</th>
        </tr>
        </thead>
        <tbody>
        {% for fila in tabla %}
        <tr>
            {% for v in variables %}
            <td><span class="{{ fila[v] }}">{{ fila[v] }}</span></td>
            {% endfor %}
            <td class="res"><span class="{{ fila[col_res] }}">{{ fila[col_res] }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br />
    {% if clasificacion %}
    <div class="alert alert-info text-center">
        <span class="fw-bold">El resultado de la tabla es {{ clasificacion }}</span>
    </div>
    {% endif %}
</div>