{%extends "layout.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h3>Disyunción inclusiva (∨)</h3>
    </div>

    <div class="card-body">
        <p>La disyunción inclusiva es verdadera si al menos una de las dos proposiciones que la conforman son verdaderas.</p>

        {% if tabla %}
            {% set col_res = 'resultado' %}
            {% set variables = (tabla[0].keys() | reject('equalto', col_res) | list) if tabla else [] %}
            {% include '_tabla.html' %}
        {% endif %}
    </div>
</div>

{% endblock content %}